section {
    display: flex;
    justify-content: space-around;
}

.align {
    display: flex;
    justify-content: flex-end;
}

.reg,
.log {
    border: 1px dashed crimson;
    height: fit-content;
    padding: 10px;
    background-color: beige;
}

#submit {
    background-color: rgb(120, 45, 118);
    box-shadow: 2px 1px rgb(210, 93, 122);
    border: 0ch;
    color: rgb(147, 179, 126);
}

h2{
    border-bottom: 2px solid blue;
    width: fit-content;
}
h2:hover{
    background-color: rgb(223, 221, 236);
    width: fit-content;
    color: rgb(221, 66, 115);
    border-radius:10px ;
}