<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shows</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'add_edit.css' %}">
    <!-- <link rel="stylesheet" href="../static/style1.css" /> -->
</head>

<body>
    <div id="goback">
        <p><a href="/">Go Back</a></p>
    </div>
    <h1>Add a New Show</h1>
    <section>

        <!-- form -->
        <!-- ================================== -->
        <!-- Validation -->
        <!-- ================================== -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <!-- ================================== -->
        <form action="/adddata" method="post">
            {%csrf_token%}
            <!-- 1 -->
            <div>
                <p>Title</p>
                <input type="text" name="title" required maxlength="15" />
            </div>

            <!-- 2.1 -->
            <div class="field_input">
                <div>
                    <p>Nework</p>
                    <input type="text" name="nets" required maxlength="8" />
                </div>


                <div>
                    <p>Release Date</p>
                    <input type="date" name="release_date" required />
                </div>

            </div>
            <!-- 3 -->
            <p>Description</p>
            <textarea cols="30" rows="5" name="desc"></textarea>

            <div class="footer">
                <input type="submit" value="Create" />
            </div>


        </form>
    </section>

</body>

</html>