<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Dojos & Ninjas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- <link rel="stylesheet" href="../static/style.css"> -->

</head>

<body>
    <div class="containor">
        <header>

            <div id="right">
                <h3>Add Dojo</h3>
                <form action="/adding" method="post">
                    {% csrf_token %}

                    <div class="syntex">
                        <p>Name :<input type="text" name="name"></p>
                    </div>

                    <div class="syntex">
                        <p>City :<input type="text" name="city"></p>
                    </div>

                    <div class="syntex">
                        <p>State:<input type="text" name="state"></p>
                    </div>

                    <div class="syntex">
                        <input type="submit" class="add" value="Add">
                    </div>
                </form>
            </div>



            <div id="left">
                <h3>Add Ninja</h3>
                <form action="/adding2" method="post">
                    {% csrf_token %}


                    <div class="syntex">
                        <p>First Name :<input type="text" name="first_name"></p>
                    </div>

                    <div class="syntex">
                        <p>last Name :<input type="text" name="last_name"></p>
                    </div>

                    <div class="syntex">
                        <p>Dojo:
                            <select name="dojo" required>
                                <option disabled selected hidden>Select a Dojo ...</option>
                                {% for x in all_Dojo %}
                                <option value="{{x.id}}">
                                    {{x.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>

                    <div class="syntex">
                        <input class="add" type="submit" value="Add">
                    </div>
                </form>
            </div>

        </header>

        <!-- the section part -->

        <h1 style="text-align:center;">All the Dojos</h1>
        <section>
            <div>
                <ul>
                    {%for i in all_Dojo%}

                    <li>
                        {{i.name}}
                        <form action="/del" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="remove" value="{{i.id}}">
                            <input type="submit" value="delete">
                        </form>
                    </li>

                </ul>

                <ol>
                    {%for x in i.ninjas.all%}
                    <li>{{x.first_name }}{{x.last_name}}</li>
                    {%endfor%}
                </ol>

                {%endfor%}
            </div>
        </section>
    </div>

</body>

</html>