footer {
    display: inline-flexbox;
    justify-content: center;
    margin-top: 1%;
    border: 2px dashed blueviolet;
    width: fit-content;
    align-items: center;
    padding: 5px;


}

.button1 {
    display: flex;
    justify-content: flex-end;
}

.button2 {
    border: 2px solid blueviolet;
    box-shadow: 1px 1.5px teal;
    margin-top: 2%;


}

input {
    display: flex;
    justify-content: flex-end;
}
form{
    display: flex;
    justify-content:flex-start;
}