<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shows</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'add_edit.css' %}">
    <!-- <link rel="stylesheet" href="../static/style1.css" /> -->
</head>

<body>
    <nav>
        <div class="left">
            <!-- go to url -> ( /books/logout ) and delete a session -> redirect to login page -->
            <p></P>
        </div>

        <div class="right goback">
            <a href="/shows">TV Shows</a>
            <a href="/logout">logout</a>
        </div>
    </nav>
    <h1>Edit Show <span>{{editdata.id}}</span> </h1>
    <section>

        <!-- form -->
        <form action="/update" method="post">
            {%csrf_token%}
            <!-- 1 -->
            <div class="field_input">
                <div>
                    <input type="hidden" name="hide" value="{{editdata.id}}">
                    <span>Title</span>
                    <input type="text" name="title" value="{{editdata.title}}" required maxlength="15" />
                </div>

                <!-- 2.1 -->
                <div>
                    <span>Nework</span>
                    <input type="text" name="nets" value="{{editdata.nets}}" required maxlength="8" />
                </div>
                <div>
                    <span>Release Date</span>
                    <input type="date" name="release_date" value="{{editdata.release_date}}" required />
                </div>
                <!-- 3 -->
                <div>
                    <p>Description</p>
                    <textarea cols="30" rows="5" name="desc" value="{{editdata.desc}}"></textarea>
                </div>
            </div>

            <div class="footer">
                <input type="submit" value="Update" />
            </div>
        </form>

    </section>

</body>

</html>