<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form>
    <h1 style="text-decoration:underline;">Submitted Info</h1>
    <p>Name:{{uname}}</p>
    <p>Dojo Location:{{loc}}</p>
    <p>Favorite Language:{{favlang}}</p>
    <p>Comment:{{com}}</p>
    <input type="submit" value="Woah Go Back!">
    </form>
  </body>
</html>