<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ninja Gold</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
  </head>
  <body>
    <!-- <h3>Your Gold: <input class="input" type="text" placeholder={{request.session.account_money}}></h3> -->
    <h3>Your Gold: <input class="input" type="text" value={{request.session.account_money}}></h3>
    <div class="flex">
    <form action="/getMoney" method="POST">
        {% csrf_token %}
        <div class="box">
            <input type="hidden" name="account_money" value="farm">
            <p>Farm</p>
            <p>(earns 10-20 gold)</p>
            <input class="btn" type="submit" value="Find Gold">
            
        </div>
        
    </form>
    <form action="/getMoney" method="POST">
        {% csrf_token %}
        <div class="box">
            <input type="hidden" name="account_money" value="cave">
            <p>Cave</p>
            <p>(earns 10-20 gold)</p>
            <input class="btn" type="submit" value="Find Gold">
        </div>  
    </form>
    <form action="/getMoney" method="POST">
        {% csrf_token %}
        <div class="box">
            <input type="hidden" name="account_money" value="house">
            <p>House</p>
            <p>(earns 10-20 gold)</p>
            <input class="btn" type="submit" value="Find Gold">
        </div>
    </form>
    <form action="/getMoney" method="POST">
        {% csrf_token %}
        <div class="box">
            <input type="hidden" name="account_money" value="quest">
            <p>Quest</p>
            <p>(earns/takes 10-50 gold)</p>
            <input class="btn" type="submit" value="Find Gold">
        </div>
    </form>
    </div>
    <form class="reset" action="/reset">
        <input class="btn" type="submit" value="Reset Ya Kbeer">
    </form>
    <h4>Activites:</h4>
        
        <div class="text" name="activate">
            {% for prints in request.session.activate reversed%}
            
            <!-- go to append and search of world failed if exist then print with other color -->

            {% if 'failed' in prints %}
            <p class="paragraph">{{prints}}</p>
            {% else %}
            <p style="color:rgb(97, 21, 21);">{{prints}}</p>
            {%endif%}
            {% endfor %}
        </div>
  </body>
</html>