<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add an author</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style_2.css' %}">
  <!-- <link rel="stylesheet" href="../static/style_2.css" /> -->

</head>

<body>

  <section>
    <div class="right">
      <h1>Add an Author</h1>

      <!--****************************************-->
      <!--  for add a authors to our book -->
      <!--****************************************-->

      <form action="/addauthor" method="post">
        {%csrf_token%}

        <div class="syntex">
          <p>First Name <input type="text" name="fname" required maxlength="25"/></p>
        </div>

        <div class="syntex">
          <div class="syntex">
            <p>Last Name <input type="text" name="lname" required maxlength="50"/></p>
          </div>
        </div>

        <div class="syntex">
          <span>Notes
            <textarea name="notes" cols="30" rows="4"></textarea>
          </span>
        </div>

        <div class="syntex">
          <input type="submit" value="Add Author" />
        </div>

      </form>
    </div>

    <div class="left">

      <!--****************************************-->
      <!--  for dispaly a author of our book -->
      <!--****************************************-->

      <table>
        {%for result in auth1%}
        <tr>
          <td>{{result.id}}</td>
          <td>{{result.first_name}} {{result.last_name}}</td>

      <!--****************************************-->
      <!-- for pass a link with id -> url -> view -->
      <!--****************************************-->

          <td><a href="/view_authors/{{result.id}}"> View</a></td>
        </tr>
        {%endfor%}
      </table>

    </div>

  </section>

</body>

</html>