<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add a book</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style_1.css' %}">
  <!-- <link rel="stylesheet" href="../static/style_1.css" /> -->
</head>

<body>
  <section>
    <div class="right">
      <h1>Add a Book</h1>

      <!--****************************************-->
      <!--  for add a book to table in Book page -->
      <!--****************************************-->

      <form action="/addbooks" method="post">
        {%csrf_token%}
        <div class="syntex">
          <p>Title <input type="text" name="title" required maxlength="15" /></p>
        </div>
        <div class="syntex">
          <span>Description
            <textarea name="desc" cols="30" rows="4" required maxlength="50"></textarea>
          </span>
        </div>
        <div class="syntex">
          <input type="submit" value="Add Book" />
        </div>
      </form>

      <!--****************************************-->
      <!--  for delete a book from table-->
      <!--****************************************-->

      <form action="/deletebooks" method="post">
        {%csrf_token%}
        <h1>Delete a Book</h1>
        <input type="submit" value="Remove All Book" />
      </form>

      <!--****************************************-->
      <!--  for delete a specific book-->
      <!--****************************************-->

      <form action="/DSBooks" method="post">
        {%csrf_token%}
        <select name="select_delete">
          <option value="" disabled selected>- Select on book for Delete/Update -</option>
          {% for i in book1 %}
          <option value="{{i.id}}">{{i.title}}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Remove Select Book" />
      </form>
      <br>

      <!--****************************************-->
      <!--  for update a specific book-->
      <!--****************************************-->

      <form action="/USBooks" method="post">
        {%csrf_token%}
        <h1>Update a Book</h1>
        <div class="syntex">
          <p>Title <input type="text" name="title" required maxlength="15" /></p>
        </div>
        <div class="syntex">
          <span>Description
            <textarea name="desc" cols="30" rows="4" required maxlength="50"></textarea>
          </span>
        </div>
        <select name="select_update">
          <option value="" disabled selected>- Select on book for Delete/Update -</option>
          {% for i in book1 %}
          <option value="{{i.id}}">{{i.title}}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Update Select Book" />
      </form>

    </div>

    <div class="left">

      <!--****************************************-->
      <!--table for view a books that exit in database-->
      <!--****************************************-->

      <table>

        <!--****************************************-->
        <!-- used for get a attribute from a Book
        but a allbook(keys many to many) => get it from firstpage function
        in view by send a context -->
        <!--****************************************-->

        {%for result in book1%}
        <tr>
          <!-- used a hidden input for  -->
          <td>{{result.id}}</td>
          <td>{{result.title}}</td>
          <!--****************************************-->
          <!-- result.id => print a id for book and i was used it to send in url => view_books/<int:id>/ -->
          <!--****************************************-->

          <td><a href="/view_books/{{result.id}}"> View</a></td>
        </tr>
        {%endfor%}

      </table>

    </div>

  </section>
</body>

</html>