<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Show authors</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style_2.css' %}">
  <!-- <link rel="stylesheet" href="../static/style_2.css" /> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

</head>

<body>
  <table class="table">
    <thead>
      <tr>
        <td scope="col">ID </td>
        <td scope="col">Name </td>
        <td scope="col">Nodes </td>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <td>{{auth2.id}}</td>
        <td>{{auth2.first_name}} {{auth2.last_name}}</td>
        <td>{{auth2.nodes}}</td>
      </tr>
    </tbody>
  </table>


  <h4>Books</h4>
  <!-- for view a all author but => a book => form pade -->

  {% for i in auth2.books.all %}
  <ul style="list-style:disc;">
    <li>
      {{i.title}}
    </li>
  </ul>
  {% endfor %}

  <form action="/createA" method="post">
    {%csrf_token%}

    <input type="hidden" name="hidden" value="{{auth2.id}}">

    <select name="select_author">
      <option value="" disabled selected>- Select a book -</option>
      {% for i in books2 %}
      <option value="{{i.id}}">{{i.title}}</option>
      {% endfor %}
      <input type="submit" name="submit" id="submit">

    </select>
  </form>

</body>

</html>