<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <table class="board">
        {%for i in range(x):%}
        <tr>
            {%for j in range(y):%}
            <td class="panel-y" style=" background-color:  {{color_y or white}};"></td>
            <td class="panel-x" style=" background-color:  {{color_x or black}};"></td>
            {%endfor%}
        </tr>
        <tr>
            {%for j in range(y):%}
            <td class="panel-x" style=" background-color:  {{color_x or black}};"></td>
            <td class="panel-y" style=" background-color:  {{color_y or white}};"></td>
            {%endfor%}
        </tr>
</body>

</html>